.code-copy-added {
    &:hover {
        overflow: visible !important;
    }
}
.code-copy {
    position: absolute;
    top: 10px;
    left: -50px;
    opacity: 1;
    width: 50px;
    height: 40px;
}
img[src*="#result"] {
   background-color: #3eaf7c;
}
.yuu-theme-blue {
    .code-copy path:last-child {
        fill: $blueAccentColor;
    }
    img[src*="#result"] {
        background-color: $blueAccentColor;
    }
}
.yuu-theme-red {
    .code-copy path:last-child {
        fill: $redAccentColor;
    }
    img[src*="#result"] {
        background-color: $redAccentColor;
    }
}
.yuu-theme-purple {
    .code-copy path:last-child {
        fill: $purpleAccentColor;
    }
    img[src*="#result"] {
        background-color: $purpleAccentColor;
    }
}